@import '../common';

.navbar {
  display: flex;
  height: 3rem;
  background-color: #0277bd;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;

  .nav-links,
  .logo {
    display: inline-block;
  }

  .logo {
    color: $lightTextColor;
    margin-right: 50%;
  }

  .nav-links span {
    color: $lightTextColor;
    font-size: 1.6rem;
  }
}
